# AppVeyor 配置文件 - Windows 自动编译

image: Visual Studio 2019

environment:
  Qt5_DIR: C:\Qt\5.15.2\msvc2019_64

install:
  # 下载并安装 Qt（如果未预装）
  - if not exist "C:\Qt\5.15.2\msvc2019_64" (
      appveyor DownloadFile https://download.qt.io/archive/qt/5.15/5.15.2/qt-opensource-windows-x64-5.15.2.exe -FileName qt-installer.exe
      # 这里需要配置 Qt 安装器，实际使用中可能需要调整
    )

build_script:
  - cd qt-app
  - mkdir build
  - cd build
  - cmake .. -G "Visual Studio 16 2019" -A x64 -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH=%Qt5_DIR%
  - cmake --build . --config Release

artifacts:
  - path: qt-app\build\Release\DataUploadTool.exe
    name: DataUploadTool-Windows

test: off

deploy: off

